.botao__trailer{
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 1.1em 1em;
}


.botao__trailer:hover{
    background: blue;
    transition: 570ms;
}


@media screen and (max-width:425px) {
    .botao__trailer{
        background-color: rgb(70, 52, 52);
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        font-family: Poppins, sans-serif;
        font-size: 12px;
        font-weight: bold;
        padding: 1.1em 1em;
    }
    
    
.botao__trailer:hover{
    background: rgb(83, 83, 90);
    transition: 570ms;
}

    
}
