body{
 font-family: 'Poppins', sans-serif;
 overflow: hidden;
}

.fundo__video::after{
    content: "";
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.9) 100%);
    position: absolute;
    z-index: -1;
}

.video{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;

 

}

.cabecalho{
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
    padding-top: 1em;
    

  
    

}

.logo{
    width:10%;
    
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12em 3em;
    
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.logo__nome{
    width: 50%;
    margin-bottom: 10px;
}

.botao__trailer{
    background-color: red;
    border: none;
    padding: 1.1em 1em;
    border-radius: 3px;
}

.turma__do__mario{
    width: 40%;
}