body{
 font-family: 'Poppins', sans-serif;
 overflow: hidden;
 background-color: brown;
}

.mascara__video::after{
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.9) 100%);
    display: flex;
    content: "";
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.video{
    height: auto;
    position: absolute;
    width: 100%;
    z-index: -1;
}






@media screen and (max-width:425px){
    body{
        font-family: 'Poppins', sans-serif;
       
        background-color: rgb(190, 92, 27);
       }

       .mascara__video::after{
        
        display: none;
    }

    .video{
        display: none;
    }
    

   
    
}


