.informacoes{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo__nome{
    margin-bottom: 15px;
    width: 60%;
}

.texto__descricao{
    color: white;
    font-family: Poppins, sans-serif ;
    font-size: 14px;
    font-weight: 300;
}


